{% extends './base.html' %}
{% block title %}modulos{% endblock %}
{% include 'navbar_modulo.html'%}
{% block body %}
<section class="h-auto py-4 px-10 xl:px-40 flex flex-wrap items-center justify-around flex-row">
    <!--CARDS-->
    <div class="w-full m-4 sm:w-60 bg-white border border-gray-200 rounded-lg shadow-lg sm:mt-2">
        <a href="{{url_for('perfil_laboral')}}" class="justify-center flex">
            <img class="p-3 rounded-t-lg max-h-40" src="{{ url_for('static', filename='img/asistencia.webp')}}" alt="product image" />
        </a>
        <div class="px-5 py-3 bg-teal-500 hover:bg-teal-600 flex items-center rounded-b-lg">
            <a href="{{url_for('perfil_laboral')}}" class="m-auto">
                <h5 class="text-xl font-semibold text-white">UALE</h5>
            </a>
        </div>
    </div>
    <div class="w-full m-4 sm:w-60 bg-white border border-gray-200 rounded-lg shadow-lg sm:mt-2">
        <a href="#" class="justify-center flex">
            <img class="p-3 rounded-t-lg max-h-40" src="{{ url_for('static', filename='img/compensaciones_1.webp')}}" alt="product image" />
        </a>
        <div class="px-5 py-3 bg-teal-500 hover:bg-teal-600 flex items-center rounded-b-lg">
            <a href="#" class="m-auto">
                <h5 class="text-xl font-semibold text-white">Compensaciones</h5>
            </a>
        </div>
    </div>
    <div class="w-full m-4 sm:w-60 bg-white border border-gray-200 rounded-lg shadow-lg sm:mt-2">
        <a href="#" class="justify-center flex">
            <img class="p-3 rounded-t-lg max-h-40" src="{{ url_for('static', filename='img/social.webp')}}" alt="product image" />
        </a>
        <div class="px-5 py-3 bg-teal-500 hover:bg-teal-600 flex items-center rounded-b-lg">
            <a href="#" class="m-auto">
                <h5 class="text-xl font-semibold text-white">Trabajo Social</h5>
            </a>
        </div>
    </div>
    <div class="w-full m-4 sm:w-60 bg-white border border-gray-200 rounded-lg shadow-lg sm:mt-2">
        <a href="#" class="justify-center flex">
            <img class="p-3 rounded-t-lg max-h-40" src="{{ url_for('static', filename='img/capacitacion.webp')}}" alt="product image" />
        </a>
        <div class="px-5 py-3 bg-teal-500 hover:bg-teal-600 flex items-center rounded-b-lg">
            <a href="#" class="m-auto">
                <h5 class="text-xl font-semibold text-white">Capacitaciones</h5>
            </a>
        </div>
    </div>
    <div class="w-full m-4 sm:w-60 bg-white border border-gray-200 rounded-lg shadow-lg sm:mt-2">
        <a href="#" class="justify-center flex">
            <img class="p-3 rounded-t-lg max-h-40" src="{{ url_for('static', filename='img/dashboard.webp')}}" alt="product image" />
        </a>
        <div class="px-5 py-3 bg-teal-500 hover:bg-teal-600 flex items-center rounded-b-lg">
            <a href="#" class="m-auto">
                <h5 class="text-xl font-semibold text-white">Dashboard</h5>
            </a>
        </div>
    </div>
    <div class="w-full m-4 sm:w-60 bg-white border border-gray-200 rounded-lg shadow-lg sm:mt-2">
        <a href="#" class="justify-center flex">
            <img class="p-3 rounded-t-lg max-h-40" src="{{ url_for('static', filename='img/soporte.webp')}}" alt="product image" />
        </a>
        <div class="px-5 py-3 bg-teal-500 hover:bg-teal-600 flex items-center rounded-b-lg">
            <a href="#" class="m-auto">
                <h5 class="text-xl font-semibold text-white">Soporte</h5>
            </a>
        </div>
    </div>
</section>

{% endblock %}